@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}


html, body {
  font-family: 'Urbanist', sans-serif;
  user-select: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 1rem;
  display: flex;
  @apply dark:bg-[#181A20] dark:text-white;  
}




