@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
}

html, body {
  background-color: #FCFCF7;
  font-family: 'Urbanist', sans-serif;
  user-select: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-top: 1rem;
  display: flex;
}

body::-webkit-scrollbar {
display: none;
}

body {
-ms-overflow-style: none;
scrollbar-width: none;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}


nav {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 19px;
  align-self: stretch;
}